{% extends "base.html" %}

{% block content %}
<main>
    <!-- Booking History -->
    <div class="major-container" id="create-experience-section">
        <div class="container wrapper">
            <div class="row">
                <div class="event-header" style="margin-top: 30px;">
                    <div class="event-page-left-header">
                        <h3 class="what-to-expect-header-text">Booking History<br></h3>
                    </div>
                    <br><br>
                </div>
                <div class="col-md-12">
                    <p class="paragraph-spacing">Explore your booked adventures.
                        This is your journey through upcoming and past experiences, where memories are made and stories
                        are written.</p>
                </div>
                <hr class="comment-spacer">
            </div>
        </div>
    </div>

    <!--- Added -->
    <div class="container">
        <div class="row">
            {% for booking in user_bookings %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ booking.experience.name }}</h5>
                        <p class="card-text">Hosted by {{ booking.experience.user.name }}</p>
                        <p class="card-text">Order ID: {{ booking.booking_id }}</p>
                        <p class="card-text">Booked on: {{ booking.purchase_date.strftime('%I:%M %p %d/%m/%Y') }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</main>
{% endblock %}