{% extends "base.html" %}

{% block content %}
<main>
    <!-- Booking History -->
    <div class="major-container" id="create-experience-section">
        <div class="container wrapper">
            <div class="row">
                <div class="event-header" style="margin-top: 30px;">
                    <div class="event-page-left-header">
                        <h3 class="what-to-expect-header-text">Booking History<br></h3>
                    </div>
                    <br><br>
                </div>
                <div class="col-md-12">
                    <p class="paragraph-spacing">Explore your booked adventures.
                        This is your journey through upcoming and past experiences, where memories are made and stories
                        are written.</p>
                </div>
                <hr class="comment-spacer">
            </div>
        </div>
    </div>

    <!--- Added -->
    <div class="container">

        <!--- Flash message for no bookings -->
        <div class="col-4">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="alert alert-warning">
                <ul>
                    {% for category, message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}

        </div>


        <!--- Cards for bookings -->
        <div class="row">
            {% for item in booked_experiences %}
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card mb-4">
                    <div class="row no-gutters">
                        <!-- Image container (visible on screens 767px and smaller) -->
                        <div class="col-md-4 d-none d-md-block">
                            <img src="{{ item.experience.image_1 }}" class="card-img-history img-fluid" alt="Event 1">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.experience.name }}</h5>
                                <p class="card-text">Hosted by {{ item.experience.user.name }}<br>
                                    Order ID: {{ item.booking_id }}<br>
                                    Date: {{ item.experience.start_time.strftime("%I:%M %p") }} - {{
                                    item.experience.start_time.strftime("%d/%m/%Y") }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>


</main>
{% endblock %}