{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<!-- Main -->
<main>

    <!-- Book Experience Header -->
    <div class="container wrapper">
        <div class="event-header">
            <div class="event-page-header">
                <h3 class="event-page-header-small">{{ experience.name }}</h3>
            </div>

            <div class="event-page-right-header">
                <i class="bi bi-water water-icon"></i> {{ experience.type }}
            </div>

            <div class="event-page-right-header">
                <i class="bi bi-calendar3 calendar3-icon"></i> {{ experience.start_time }}, {{ experience.start_date }}
            </div>
        </div>

        <div class="event-header" style="margin-bottom: 30px;">
            <div class="event-page-left-header">
                <h6 class="hosted-by-text">Hosted by {{ experience.user.name }}</h6>
            </div>

            <div class="event-page-right-header">
                <i class="bi bi-geo-alt geo-alt-icon"></i> {{ experience.address_line1 }}
            </div>
        </div>

        <hr class="homepage-card-spacer">
    </div>

    <!-- Images -->
    <div class="container">
        <div class="row">
            <!-- Display only on screens smaller than 577px -->
            <div class="col-6 d-block d-sm-none">
                <div class="image">
                    <img src="{{ experience.image_1 }}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-6 d-block d-sm-none">
                <div class="image">
                    <img src="{{ experience.image_1 }}" alt="" class="img-fluid">
                </div>
            </div>

            <!-- Display on larger screens -->
            <div class="col-sm-4 col-md-4 col-lg-4 d-none d-sm-block">
                <div class="image">
                    <img src="{{ experience.image_2 }}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 d-none d-sm-block">
                <div class="image">
                    <img src="{{ experience.image_1 }}" alt="" class="img-fluid">
                </div>
            </div>

            <!-- Additional image for larger screens -->
            <div class="col-sm-4 col-md-4 col-lg-4 d-none d-sm-block">
                <div class="image">
                    <img src="{{ experience.image_3 }}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <!-- Below image content  -->
    <div class="container wrapper">

        <!-- What to expect header -->
        <div class="row">
            <div class="what-to-expect-header">
                <div class="what-to-expect-header-position">
                    <h3 class="what-to-expect-header-text">What to expect</h3>
                </div>
            </div>
        </div>
        <hr class="homepage-card-spacer">

        <!--- What to expect content and Ticket selector -->
        <div class="row">
            <!--- What to expect text -->
            <div class="col-12 col-md-5 col-lg-7">
                <p class="paragraph-spacing">{{ experience.description }}</p>
            </div>

            <!--- Ticket selector -->
            <div class="col-12 col-md-7 col-lg-5">
                <div class="card">
                    <div class="card-body">
                        <div class="status-green" id="change-status">
                            {{ experience.status }}
                        </div>
                        <h5 class="card-title">Price: ${{ experience.price }} pp</h5>
                        <p class="card-text">Tickets available: <span id="availableTickets">{{ experience.ticket_qty }}</span></p>
                        <div class="row align-items-center">


                            <form action="/experiences/{{ experience.id }}/process_ticket_selection" method="post">
                                <input type="hidden" name="experience_id" value="{{ experience.id }}">

                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <label for="ticket_selector" class="input-group-text">Tickets:</label>
                                            <select id="ticket_selector" name="ticket_selector" class="form-select">
                                                {% if experience.ticket_qty is defined %}
                                                {% for i in range(experience.ticket_qty + 1) %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                                {% else %}
                                                <option value="0">No tickets available</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-flex align-items-center justify-content-end">
                                        <button class="btn btn-primary custom-btn" id="bookNowBtn" type="submit">Book Now</button>
                                    </div>
                                </div>
                            </form>

                            <div id="loginMessage" class="alert alert-warning">
                                Please login to book tickets
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Comment section header -->
            <div class="container wrapper">
                <div class="row">
                    <div class="comment-section-header">
                        <div class="event-page-left-header">
                            <h3 class="event-page-header-small">User Comments</h3>
                        </div>
                    </div>
                </div>
                <hr class="comment-spacer">
            </div>

            <!-- Comment section -->
            <div class="container">
                <div class="row d-flex justify-content-left">
                    <div class="col-md-12 col-lg-12">
                        <div class="card text-dark">
            
                            <!-- Existing comments -->
                            {% for comment in experience.comments %}

                            <div class="card-body p-4">
                                <div class="d-flex flex-start">
                                    <img class="rounded-circle shadow-1-strong me-3" src="{{ comment.user.avatar }}"
                                        alt="user image" width="60" height="60">
                                    <div>
                                        <h6 class="fw-bold mb-1">{{ comment.user.name }}</h6>
                                        <div class="d-flex align-items-center mb-3">
                                            <p class="mb-0">
                                                Posted at {{ comment.created_at }}
                                            </p>
                                        </div>
                                        <p class="mb-0">
                                        {{ comment.text }}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            {% endfor %}
            
                            <!-- Add comment box -->
                            <div class="row border-bottom">
                                <div class="card-body p-4">
                                    <h6 class="fw-bold mb-1">Leave a comment</h6>
                                    <form action="/experiences/{{ experience.id }}/comment" method="post">
                                        {{ form.hidden_tag() }}
                                        <textarea id="commentText" class="form-control mb-2" rows="3" name="text"
                                            placeholder="Write your comment here..."></textarea>
                                        <div id="loginMessageComments" class="alert alert-warning">
                                            Please login to leave a comment
                                        </div>
                                        <button type="submit" class="btn btn-primary custom-btn" id="bookNowBtn">Post</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>








        </div>
        </div>
    </div>


    <!-- JS scripting import -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!-- JS to display "Please login ..." message to comments + book now section -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const loginButton = document.getElementById("loginButton");
            const loginMessage = document.getElementById("loginMessage");
            const loginMessageComments = document.getElementById("loginMessageComments");
            const postButton = document.querySelector("button[onclick='postComment()']"); // Get the "Post" button


            // Function to check and display the message
            function checkAndDisplayMessage() {
                if (loginButton.textContent.trim() === "Login") {
                    loginMessage.style.display = "block";
                    loginMessageComments.style.display = "block"; // Hide comment message
                    postButton.disabled = true; // Disable the "Post" button
                } else {
                    loginMessage.style.display = "none";
                    loginMessageComments.style.display = "none";
                    postButton.disabled = false; // Enable the "Post" button
                }
            }

            // Check and display the message when the page loads
            checkAndDisplayMessage();

            // Event listener for login button click
            loginButton.addEventListener("click", function () {

                // Toggle the login state
                if (loginButton.textContent.trim() === "Logout") {
                    loginMessage.style.display = "none";
                    loginMessageComments.style.display = "none";
                    postButton.disabled = false; // Enable the "Post" button
                } else {
                    loginMessage.style.display = "block";
                    loginMessageComments.style.display = "block";
                    postButton.disabled = true; // Disable the "Post" button
                }

                // Check and display the message
                checkAndDisplayMessage();
            });
        });
    </script>

    <!--- Test script to see if Form is being submitted -->
    <script>
        document.querySelector('form').addEventListener('submit', function (e) {
            e.preventDefault();
            console.log('Form submitted with data:', new FormData(this));
            this.submit();
        });
    </script>


</main>
{% endblock %}