{% extends "base.html" %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}


<main>
    <!-- Booking History -->
    <div class="major-container" id="create-experience-section">
        <div class="container wrapper">
            <div class="row">
                <div class="event-header" style="margin-top: 30px;">
                    <div class="event-page-left-header">
                        <h3 class="what-to-expect-header-text">Update your events<br></h3>
                    </div>
                    <br><br>
                </div>
                <div class="col-md-12">
                    <p class="paragraph-spacing">Need to make a change to your experience? No sweat. Easily manage all your experience information below.</p>
                </div>
                <hr class="comment-spacer">
            </div>
        </div>
    </div>  

    <!-- Booking history cards -->
    <div class="container">
        <div class="row">

            <!-- Booking History Entry 1 -->
            {% for experience in experiences %}
            <div class="col-12 col-md-12 col-lg-6">

                <div class="card mb-4" data-type="Tours" data-status="sold-out" data-name="Acropolis Guided Tour">
                    <div class="row no-gutters">

                        <!-- Image container (visible on screens 767px and smaller) -->
                        <div class="col-md-4 d-none d-md-block">
                            <img src={{experience.image_1}} class="card-img-history img-fluid" alt="Event 1">
                        </div>

                        <div class="col-md-8">

                            <div class="card-body">
                                <h6 class="card-title">
                                    <b>
                                    <span class="homepage-card-name">{{experience.name}}<br>
                                    </span>
                                    <div class="homepage-card-spacer"></div>
                                    </b>
                                </h6>
                                <hr>
                                <p class="card-text">Experience ID: {{experience.id}}</p>
                                <p class="card-text">
                                    Date: {{ experience.start_time.strftime("%I:%M %p") }} - {{ experience.start_time.strftime("%d/%m/%Y") }}<br>
                                    Location: {{experience.address_line1}}, {{experience.suburb}}</p>

                            </div>
                            
                            <div class="d-flex justify-content-start">
                                {% if experience.status in ['Sold Out', 'Open'] %}
                                <form method="POST" action="{{ url_for('experience.cancel_event', experience_id=experience.id) }}">
                                    <button type="submit" class="btn custom-btn toggle-button rounded me-2 ms-2">
                                        Cancel Event
                                    </button>
                                </form>
                                {% endif %}
                                <div>
                                    <a href="{{ url_for('experience.update_page', experience_id=experience.id) }}"
                                        class="btn custom-btn toggle-button rounded me-2 ms-2">
                                        Update
                                    </a>
                                </div>
                            </div>

                            

                            <div class="{% if experience.status == 'Inactive' %}status-grey{% elif experience.status == 'Open' %}status-green{% elif experience.status == 'Sold Out' %}status-red{% elif experience.status == 'Cancelled' %}status-black{% endif %}">
                                {{ experience.status }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- JS scripting import -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <!-- JS login modal script -->


</main>
{% endblock %}
