{% extends "base.html" %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}


<main>
    <!-- Booking History -->
    <div class="major-container" id="create-experience-section">
        <div class="container wrapper">
            <div class="row">
                <div class="event-header" style="margin-top: 30px;">
                    <div class="event-page-left-header">
                        <h3 class="what-to-expect-header-text">Update your events<br></h3>
                    </div>
                    <br><br>
                </div>
                <div class="col-md-12">
                    <p class="paragraph-spacing">This is where your vision gets a fresh coat of inspiration, allowing you to fine-tune every aspect of your unique experience.
                         Let's work together to bring new life to your event and make it even more extraordinary!</p>
                </div>
                <hr class="comment-spacer">
            </div>
        </div>
    </div>  

    <!-- Booking history cards -->
    <div class="container">
        <div class="row">

            <!-- Booking History Entry 1 -->
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card mb-4">
                    <div class="row no-gutters">

                        <!-- Image container (visible on screens 767px and smaller) -->
                        <div class="col-md-4 d-none d-md-block">
                            <img src="./static/img/acropolis-tour.png" class="card-img-history img-fluid" alt="Event 1">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Acropolis Guided Tour</h5>
                                <p class="card-text">Hosted by Adonius<br>
                                    Order ID: 77589<br>
                                    Booked on: 11am 23rd Aug, 2023</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Booking History Entry 2 -->
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card mb-4">
                    <div class="row no-gutters">

                        <!-- Image container (visible on screens 767px and smaller) -->
                        <div class="col-md-4 d-none d-md-block card-img-history">
                            <img src="./static/img/cigar-tasting.png" class="card-img-history img-fluid" alt="Event 2">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Havana Cigar Tasting</h5>
                                <p class="card-text">Hosted by Yoel<br>
                                    Order ID: 77963<br>
                                    Booked on: 4pm 1st May, 2023<br>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">

            <!-- Booking History Entry 3 -->
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card mb-4">
                    <div class="row no-gutters">

                        <!-- Image container (visible on screens 767px and smaller) -->
                        <div class="col-md-4 d-none d-md-block">
                            <img src="./static/img/tubing.png" class="card-img-history img-fluid" alt="Event 1">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Boozy Lazy Tipsy Tubing</h5>
                                <p class="card-text">Hosted by Jack<br>
                                    Order ID: 77589<br>
                                    Booked on: 9am 23rd Mar, 2023</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Booking History Entry 4 -->
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card mb-4">
                    <div class="row no-gutters">

                        <!-- Image container (visible on screens 767px and smaller) -->
                        <div class="col-md-4 d-none d-md-block card-img-history">
                            <img src="./static/img/jack-ripper-tour.png" class="card-img-history img-fluid" alt="Event 2">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Jack Ripper Evening Tour</h5>
                                <p class="card-text">Hosted by Jen<br>
                                    Order ID: 77963<br>
                                    Booked on: 2pm 1st Jan, 2023</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS scripting import -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <!-- JS login modal script -->
    <script>
        const loginButton = document.getElementById("loginButton");
        const loginModal = new bootstrap.Modal(document.getElementById("loginModal"));
        const loginModalBody = document.querySelector("#loginModal .modal-body");
        const experiencesLink = document.getElementById("experiencesLink");
        const bookingHistoryLink = document.getElementById("bookingHistoryLink");
        const ticketSelector = document.getElementById("ticketSelector");

        let isLoggedIn = false;

        loginButton.addEventListener("click", function () {

            // User is logged out
            if (isLoggedIn) {

                // User is logged in
                loginModalBody.textContent = "You're in! You can now create and book events.";
                loginButton.textContent = "Logout";

                // Show the Experiences link
                experiencesLink.style.display = "block";

                // Show the Booking History link
                bookingHistoryLink.style.display = "block";

            } else {

                loginModalBody.textContent = "It was great having you. See you next time.";
                loginButton.textContent = "Login";

                // Hide the Experiences link
                experiencesLink.style.display = "none";

                // Hide the Booking History link
                bookingHistoryLink.style.display = "none";

            }

            // Toggle the login state
            isLoggedIn = !isLoggedIn;

            // Show the login modal
            loginModal.show();
        });
    </script>

</main>
{% endblock %}
