<html lang="en">

<!-- Head -->
<head>
    <!-- Viewport -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- App title & Bootstrap style import -->
    <title>LiveLocal</title>

    <!--- NOTE TO MARKER - Favicon only worked when saved in root directory so couldn't save in img directory -->
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Custom style sheet-->
    <link rel="stylesheet" type="text/css" href="./static/style/style.css">

    <!-- Boostrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Change font to Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

</head>

<!--- Body -->

<body>

    {% block header %}

    <!-- Header -->
    <header>

        <!-- Nav bar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <i class="bi bi-geo-alt custom-icon"></i>
                <!--- Icon and title-->
                <a class="navbar-brand custom-nav-brand" href="/"><b>LiveLocal</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list custom-icon-list"></i>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <div class="navbar-nav ml-auto">
                
                        <!-- Register/Login/Logout -->
                        {% if current_user.is_authenticated %}
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="/create-experience" id="experiencesLink">
                                        Create Experience
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/booking-history" id="bookingHistoryLink">
                                        Booking History
                                    </a>
                                </li>
                            </ul>
                        <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">
                            <button id="loginButton" class="btn btn-primary btn-md custom-btn">
                                Log Out
                            </button>
                        </a>
                        {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">
                            <button id="registerButton" class="btn btn-primary btn-md custom-btn me-0">
                                Register
                            </button>
                        </a>
                        <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">
                            <button id="loginButton" class="btn btn-primary btn-md custom-btn ms-0">
                                Login
                            </button>
                        </a>
                        {% endif %}
                        
                    </div>
                </div>

            </div>
        </nav>

        <!-- Modal for Login button -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">User Message</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        You're in! You can now create and book events.
                    </div>
                    <div class="modal-footer">
                        <button id="loginModalButton" type="button" class="btn btn-primary btn-md custom-btn"
                            data-bs-dismiss="modal">
                            Got it!
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for Booking Confirmation -->
        <div class="modal fade" id="bookingConfirmationModal" tabindex="-1" aria-labelledby="bookingConfirmationModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bookingConfirmationModalLabel">Booking Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="bookingConfirmationMessage">You have purchased <span id="bookingConfirmationTickets">X</span>
                            tickets to this experience.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary custom-btn" id="loginModalButton"
                            data-bs-dismiss="modal">Got it!</button>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <!-- Carousel -->
    <div class="carousel-container">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-3 mx-md-auto mt-4"></div>
        </div>
    </div>

    {% endblock %}

    {% block content %}
    
    {% endblock %}

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
                <p class="col-md-12 mb-0 text-muted">© 2023 LiveLocal, Inc. All rights reserved.</p>
                <p class="col-md-12 mb-0 text-muted">Crafting extraordinary experiences for your next getaway.</p>
            </footer>
        </div>
    </footer>
</body>
</html>