{% extends 'base.html' %}

{% block content %}

<!--- Main -->
<main>
    <!-- Carousel -->
    <div class="carousel-container">
        <div class="row">
            <div class="col-12 col-md-2 col-lg-3"></div>

            <div class="col-12 col-md-3 col-lg-3 mx-md-auto text-center mt-4">
                <h2 class="max-width-500 mb-5"><br><br>Book an experience and live like a local on your next getaway</h2>
            </div>

            <!--------------------------------------- ** NOTE FOR MARKER ** --------------------------------------->
            <!--- Please note that not all styling for lottie image can be moved to style sheet hence why some styling is below  -->
            <!--- Also Lottie image is not imported locally as this couldn't be done without paying for premium image  -->

            <!-- Lottie animation container - large -->
            <div class="col-12 col-md-3 col-lg-3">
                <div class="lottie-container">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <div style="width: 450px; height: 350px; overflow: hidden;">
                        <lottie-player src="https://lottie.host/a5653a4f-9375-4c6a-8598-e9f612d4a866/8ZEHwQnFD4.json"
                            background="#849BFF" speed="1" style="width: 450px; height: 450px; margin-top: -50px;" loop autoplay
                            direction="1" mode="normal"></lottie-player>
                    </div>
                </div>
            </div>

            <div class="col-md-3"></div>

            <!-- Lottie animation container - mid-medium -->
            <div class="col-md-12 col-md-3 col-lg-3">
                <div class="lottie-container-mid-medium" style="width: 650px; height: 350px; overflow: hidden; text-align: center;">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <div style="width: 100%; height: 100%; display: inline-block; vertical-align: middle;">
                        <lottie-player src="https://lottie.host/a5653a4f-9375-4c6a-8598-e9f612d4a866/8ZEHwQnFD4.json"
                            background="#849BFF" speed="1" style="width: 100%; max-height: 100%;" loop autoplay direction="1"
                            mode="normal"></lottie-player>
                    </div>
                </div>
            </div>

            <!-- Lottie animation container - medium -->
            <div class="col-md-12 col-md-3 col-lg-3">
                <div class="lottie-container-medium" style="width: 550px; height: 350px; overflow: hidden; text-align: center;">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <div style="width: 100%; height: 100%; display: inline-block; vertical-align: middle;">
                        <lottie-player src="https://lottie.host/a5653a4f-9375-4c6a-8598-e9f612d4a866/8ZEHwQnFD4.json"
                            background="#849BFF" speed="1" style="width: 100%; max-height: 100%;" loop autoplay direction="1"
                            mode="normal"></lottie-player>
                    </div>
                </div>
            </div>


            <!-- Lottie animation container - small -->
            <div class="col-md-12 col-md-3 col-lg-3">
                <div class="lottie-container-small" style="width: 350px; height: 350px; overflow: hidden; text-align: center;">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <div style="width: 100%; height: 100%; display: inline-block; vertical-align: middle;">
                        <lottie-player src="https://lottie.host/a5653a4f-9375-4c6a-8598-e9f612d4a866/8ZEHwQnFD4.json"
                            background="#849BFF" speed="1" style="width: 100%; max-height: 100%;" loop autoplay direction="1"
                            mode="normal"></lottie-player>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-lg-3"></div>
        </div>
    </div>

    <!--- Main body - buttons + cards -->
    <div class="container wrapper">
        <br>
        <div class="toggle-button-group">
            <h3 class="custom-heading" style="padding-bottom: 5px;">Book an experience</h3>

            <div class="drop-down-container">

                <!-- Filter Upcoming toggle -->
                <div class="form-check form-switch" style="padding-top: 3px; padding-right: 12px;">
                    <input class="form-check-input" type="checkbox" id="upcomingEventsCheckboxFilter"
                        name="upcomingEventsCheckboxFilter">
                    <label class="form-check-label" for="upcomingEventsCheckboxFilter">Upcoming Events</label>
                </div>

                <!-- Filter dropdown -->
                <div class="dropdown" style="padding-top: 5px; padding-right: 15px;">
                    <button class="btn btn-outline-light me-2 custom-btn filter-button" type="button" id="filterDropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-filter custom-filter-icon"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="filterDropdown">
                        <a class="dropdown-item" href="#" data-status="all">All</a>
                        <a class="dropdown-item" href="#" data-status="Open">Open</a>
                        <a class="dropdown-item" href="#" data-status="Inactive">Inactive</a>
                        <a class="dropdown-item" href="#" data-status="Sold Out">Sold Out</a>
                        <a class="dropdown-item" href="#" data-status="Cancelled">Cancelled</a>
                    </div>
                </div>

                <!-- Filter radio buttons -->
                <div class="radio-buttons">
                    <button class="btn btn-outline-light me-2 custom-btn toggle-button" data-type="all">
                        All
                    </button>
                    <button class="btn btn-outline-light me-2 custom-btn toggle-button" data-type="ArtCulture">
                        Art & Culture
                    </button>
                    <button class="btn btn-outline-light me-2 custom-btn toggle-button" data-type="Tours">
                        Tours
                    </button>
                    <button class="btn btn-outline-light me-2 custom-btn toggle-button" data-type="FoodDrink">
                        Food & Drink
                    </button>
                    <button class="btn btn-outline-light me-2 custom-btn toggle-button" data-type="Unique">
                        Unique
                    </button>
                </div>

            </div>
        </div>

        <hr>

        <!-- Cards -->
        <div id="all_cards">
            <div class="row" id="current">
                
                <!--- No results filter message-->
                <div id="noResultsMessage">
                    <br>
                    <div class="centered-message">
                        <br>
                        <h5>No results found. Please try another filter.</h5>
                    </div>
                </div>

                <!--- No results filter message-->
                <!-- <div id="adjustSearchMessage">
                    <br>
                    <div class="centered-message">
                        <br>
                        <h5>Please select at least one event type to see results.</h5>
                    </div>
                </div> -->

                <!-- Cards -->
                {% for experience in experiences %}
                <div class="custom-card mx-auto mx-3 left-align-card" data-type="{{ experience.type }}" data-status="{{ experience.status }}" data-name="{{ experience.name }}">
                    <div class="card box-shadow mx-auto homepage-card">
                        <a href="{{ url_for('experience.show', id=experience.id) }}">
                            <img src="{{ experience.image_1 }}" class="card-img-top">
                        </a>
                        
                        <!-- Status box in the top right corner -->
                        <div
                            class="{% if experience.status == 'Inactive' %}status-grey{% elif experience.status == 'Open' %}status-green{% elif experience.status == 'Sold Out' %}status-red{% elif experience.status == 'Cancelled' %}status-black{% endif %}">
                            {{ experience.status }}
                        </div>

                        </a>
                        <div class="card-body">
                            <h6 class="card-title">
                                <b class="d-flex justify-content-between align-items-center">
                                    <span class="homepage-card-name">{{ experience.name }}</span>
                                    {% if experience.type == 'Unique' %}
                                    <i class="bi bi-water water-icon"></i>
                                    {% elif experience.type == 'FoodDrink' %}
                                    <i class="bi bi-cup-straw"></i>
                                    {% elif experience.type == 'ArtCulture' %}
                                    <i class="bi bi-buildings"></i>
                                    {% elif experience.type == 'Tours' %}
                                    <i class="bi bi-bus-front"></i>
                                    {% endif %}
                                </b>
                            </h6>
                            <hr>
                            <span class="homepage-card-name">Hosted by {{ experience.user.name }}</span>
                            <span class="homepage-card-duration float">${{ experience.price }}pp</span>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


        <!-- JS to handle button click events and toggle "pressed" state -->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const buttons = document.querySelectorAll(".toggle-button");

                buttons.forEach(function (button) {
                    button.addEventListener("click", function () {
                        buttons.forEach(function (otherButton) {
                            otherButton.classList.remove("active");
                        });
                        this.classList.add("active");
                    });
                });
            });
        </script>
        
        <!-- JS to handle card filtering -->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const typeButtons = document.querySelectorAll(".toggle-button");
                const statusDropdown = new bootstrap.Dropdown(document.getElementById("filterDropdown"));
                const cards = document.querySelectorAll(".custom-card.mx-auto.mx-3.left-align-card");

                let global_type = "all";
                let global_status = "all";
                let anyCardsMatch = false;

                // Function to filter cards based on type
                function filterCards(type, status) {

                    // Show/hide the message based on the flag
                    anyCardsMatch = false;

                    cards.forEach(function (card) {
                        const cardType = card.getAttribute("data-type");
                        const cardStatus = card.getAttribute("data-status");

                        if (type === "all" && status === "all") {
                            card.style.display = "block";
                            anyCardsMatch = true;
                        } else if (type === "all" && cardStatus === global_status) {
                            card.style.display = "block";
                            anyCardsMatch = true;
                        } else if (cardType === type && global_status === "all") {
                            card.style.display = "block";
                            anyCardsMatch = true;
                        } else if (cardType === type && cardStatus === global_status) {
                            card.style.display = "block";
                            anyCardsMatch = true;
                        } else {
                            card.style.display = "none";
                        }
                    });

                    // Show/hide the message based on the flag
                    const noResultsMessage = document.getElementById("noResultsMessage");
                    if (anyCardsMatch) {
                        noResultsMessage.style.display = "none";
                    } else {
                        noResultsMessage.style.display = "block";
                    }

                }

                typeButtons.forEach(function (button) {
                    button.addEventListener("click", function () {
                        global_type = this.getAttribute("data-type");
                        filterCards(global_type, global_status);
                    });
                });

                // Add click event listener to the status dropdown items
                const statusItems = document.querySelectorAll(".dropdown-item[data-status]");
                statusItems.forEach(function (item) {
                    item.addEventListener("click", function (event) {
                        event.preventDefault();
                        status = item.getAttribute("data-status");
                        global_status = status
                        filterCards(global_type, global_status);
                    });
                });

                // Initial filter when the page loads
                filterCards(global_type, global_status);
            });
        </script>

        <!-- JS Script to handle Upcoming events toggle -->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const upcomingEventsCheckbox = document.getElementById("upcomingEventsCheckboxFilter");
                const cards = document.querySelectorAll(".custom-card.mx-auto.mx-3.left-align-card");

                let global_type = "all";
                let global_status = "all";
                let anyCardsMatch = false;

                // Function to filter cards based on type
                function filterCards(type, status) {
                    // Show/hide the message based on the flag
                    anyCardsMatch = false;

                    cards.forEach(function (card) {
                        const cardType = card.getAttribute("data-type");
                        const cardStatus = card.getAttribute("data-status");

                        if ((cardStatus === "Sold Out" || cardStatus === "Open")) {
                            card.style.display = "block";
                            anyCardsMatch = true;
                        } else {
                            card.style.display = "none";
                        }
                    });

                    // Show/hide the message based on the flag
                    const noResultsMessage = document.getElementById("noResultsMessage");
                    if (anyCardsMatch) {
                        noResultsMessage.style.display = "none";
                    } else {
                        noResultsMessage.style.display = "block";
                    }
                }

                // Function to unfilter cards
                function unfilterCards() {
                    cards.forEach(function (card) {
                        card.style.display = "block";
                    });
                }

                // Add an event listener for the checkbox
                upcomingEventsCheckbox.addEventListener("change", function () {
                    if (upcomingEventsCheckbox.checked) {
                        filterCards(global_type, global_status);
                    } else {
                        unfilterCards();
                    }
                });
            });
        </script>



</main>

{% endblock %}