{% extends 'base.html' %}

{% block content %}
<!--- Main -->
<main>

    <!-- Modal for Login button -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">User Message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You're in! You can now create and book events.
                </div>
                <div class="modal-footer">
                    <button id="loginModalButton" type="button" class="btn btn-primary btn-md custom-btn"
                        data-bs-dismiss="modal">
                        Got it!
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel -->
    <div class="carousel-container">
        <div class="row">
            <div class="col-12 col-md-2 col-lg-3"></div>

            <div class="col-12 col-md-3 col-lg-3 mx-md-auto text-center mt-4">
                <h2 class="max-width-500 mb-5"><br><br>Book an experience and live like a local on your next getaway</h2>
            </div>

            <!--------------------------------------- ** NOTE FOR MARKER ** --------------------------------------->
            <!--- Please note that not all styling for lottie image can be moved to style sheet hence why some styling is below  -->
            <!--- Also Lottie image is not imported locally as this couldn't be done without paying for premium image  -->

            <!-- Lottie animation container - large -->
            <div class="col-12 col-md-3 col-lg-3">
                <div class="lottie-container">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <div style="width: 450px; height: 350px; overflow: hidden;">
                        <lottie-player src="https://lottie.host/a5653a4f-9375-4c6a-8598-e9f612d4a866/8ZEHwQnFD4.json"
                            background="#849BFF" speed="1" style="width: 450px; height: 450px; margin-top: -50px;" loop autoplay
                            direction="1" mode="normal"></lottie-player>
                    </div>
                </div>
            </div>

            <div class="col-md-3"></div>

            <!-- Lottie animation container - mid-medium -->
            <div class="col-md-12 col-md-3 col-lg-3">
                <div class="lottie-container-mid-medium" style="width: 650px; height: 350px; overflow: hidden; text-align: center;">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <div style="width: 100%; height: 100%; display: inline-block; vertical-align: middle;">
                        <lottie-player src="https://lottie.host/a5653a4f-9375-4c6a-8598-e9f612d4a866/8ZEHwQnFD4.json"
                            background="#849BFF" speed="1" style="width: 100%; max-height: 100%;" loop autoplay direction="1"
                            mode="normal"></lottie-player>
                    </div>
                </div>
            </div>

            <!-- Lottie animation container - medium -->
            <div class="col-md-12 col-md-3 col-lg-3">
                <div class="lottie-container-medium" style="width: 550px; height: 350px; overflow: hidden; text-align: center;">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <div style="width: 100%; height: 100%; display: inline-block; vertical-align: middle;">
                        <lottie-player src="https://lottie.host/a5653a4f-9375-4c6a-8598-e9f612d4a866/8ZEHwQnFD4.json"
                            background="#849BFF" speed="1" style="width: 100%; max-height: 100%;" loop autoplay direction="1"
                            mode="normal"></lottie-player>
                    </div>
                </div>
            </div>


            <!-- Lottie animation container - small -->
            <div class="col-md-12 col-md-3 col-lg-3">
                <div class="lottie-container-small" style="width: 350px; height: 350px; overflow: hidden; text-align: center;">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <div style="width: 100%; height: 100%; display: inline-block; vertical-align: middle;">
                        <lottie-player src="https://lottie.host/a5653a4f-9375-4c6a-8598-e9f612d4a866/8ZEHwQnFD4.json"
                            background="#849BFF" speed="1" style="width: 100%; max-height: 100%;" loop autoplay direction="1"
                            mode="normal"></lottie-player>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-lg-3"></div>
        </div>
    </div>


    <!-- Cards -->
    <div class="container wrapper">

    <!-- Radio category buttons -->
    <div class="container wrapper">
        <br>
        <div class="container-fluid">

            <div class="row">
                <h3 class="custom-heading pb-2 pt-1">Book an experience</h3>
            </div>
            
            <div class="row">
                <div class="col-md-8 mb-3 d-flex flex-column">

                    <!-- Search bar  -->
                    <div class="input-group custom-input-group mb-3">
                        <input id="search-input" type="text" class="form-control custom-btn custom-search-bar m-0 me-2" placeholder="Search..." id="custom-search-bar">
                    </div>

                    <!-- Event availabilty checkbox buttons  -->
                    <div class="d-flex">
                        <div>
                            <label class="pe-2">Events:</label>
                            <div id="checkbox_filter" class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="eventUpcoming" name="eventFilter" value="Upcoming" checked>
                                <label class="form-check-label" for="eventUpcoming">Upcoming</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="eventCurrent" name="eventFilter" value="Current" checked>
                                <label class="form-check-label" for="eventCurrent">Current</label>
                            </div>
                        </div>
                        
                        <!-- Event status dropdown -->
                        <div class= "dropdown d-flex"> 
                            <button class= "btn custom-btn filter-button d-flex" type= "button" id= "filterDropdown"
                                data-bs-toggle= "dropdown" aria-haspopup= "true" aria-expanded= "false">
                                <i class= "bi bi-filter custom-filter-icon "></i> Status
                            </button>
                            <div class= "dropdown-menu" aria-labelledby= "filterDropdown">
                                <a class= "dropdown-item" href="#" data-status= "all">All</a>
                                <a class= "dropdown-item" href="#" data-status= "open">Open</a>
                                <a class= "dropdown-item" href="#" data-status= "inactive">Inactive</a>
                                <a class= "dropdown-item" href="#" data-status= "sold-out">Sold Out</a>
                                <a class= "dropdown-item" href="#" data-status= "cancelled">Cancelled</a> 
                            </div> 
                        </div>
                    </div>
                </div>

                
                
                <!-- Event category radio buttons -->
                <div class="col-md-4 d-flex mb-3">
                    <div class="btn-group d-flex flex-wrap">
                        <button class="btn custom-btn toggle-button me-2 mb-2 rounded active" data-type="all">
                            All
                        </button>
                        <button class="btn custom-btn toggle-button me-2 mb-2 rounded" data-type="art-culture">
                            Art & Culture
                        </button>
                        <button class="btn custom-btn toggle-button me-2 mb-2 rounded" data-type="tours">
                            Tours
                        </button>
                        <button class="btn custom-btn toggle-button me-2 mb-2 rounded" data-type="food-drink">
                            Food & Drink
                        </button>
                        <button class="btn custom-btn toggle-button me-2 mb-2 rounded" data-type="unique">
                            Unique
                        </button>
                    </div>
                </div>
                
            </div>        
        </div>
    
        <hr>

        <div id="all_cards">

        <!-- Cards -->
        <div class="row" id="current">
            
            <!--- No results filter message-->
            <div id="noResultsMessage">
                <br>
                <div class="centered-message">
                    <br>
                    <h5>No results found. Please try another filter.</h5>
                </div>
            </div>

            <!--- No results filter message-->
            <div id="adjustSearchMessage">
                <br>
                <div class="centered-message">
                    <br>
                    <h5>Please select at least one event type to see results.</h5>
                </div>
            </div>

            <!-- Row 1 -->
            <!-- Card 1 -->
            <h3 id='currentText' class="custom-heading mb-4 mt-3 ms-0 me-0">Current events:</h3>
            {% for experience in experiences %}
            <div class="custom-card mx-auto mx-3 left-align-card" data-type="tours" data-status="open" data-name="Noosa Kayak Adventure">
                <div class="card box-shadow mx-auto homepage-card">
                    <a href="{{ url_for('experience.show', id=experience.id) }}">
                        <img src="{{ experience.image_1 }}" class="card-img-top" alt="Man kayaking on river">
                    </a>
                    
                    <!-- Status box in the top right corner -->
                    <div class="status-green">
                        {{experience.status}}
                    </div></a>
                    <div class="card-body">
                        <h6 class="card-title">
                            <b>
                            <span class="homepage-card-name">{{experience.name}}</span>
                            <span class="homepage-card-duration float">{{ experience.start_time}}</span>
                            <div class="homepage-card-spacer"></div>
                            </b>
                        </h6>
                        <hr>
                        <p class="card-text">Hosted by {{ experience.user.name }} - ${{experience.price}}pp<br></p>
                    </div>
                </div>
            </div>
            {% endfor %}

            

        <!-- Cards -->
        <div class="row" id="upcoming">
            
            <!--- No results filter message-->
            <div id="noResultsMessage">
                <br>
                <div class="centered-message">
                    <br>
                    <h5>No results found. Please try another filter.</h5>
                </div>
            </div>

            <!-- Row 1 -->
            <!-- Card 1 -->
            <h3 id="hereeee" class="custom-heading mb-4 mt-3 ms-0 me-0">Upcoming events:</h3>


           

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

             <!-- JS to handle button click events and toggle "pressed" state -->
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                    const buttons = document.querySelectorAll(".toggle-button");

                    buttons.forEach(function (button) {
                        button.addEventListener("click", function () {
                            buttons.forEach(function (otherButton) {
                                otherButton.classList.remove("active");
                            });
                            this.classList.add("active");
                        });
                    });
                });
            </script>

            <script>
                var upcomingEnabled = true;
                var currentEnabled = true;

                let global_status = "all";

                var upcomingbtn = document.getElementById('eventUpcoming');
                var currentBtn = document.getElementById('eventCurrent');
                var currentText = document.getElementById('currentText');
                var upcomingText = document.getElementById('hereeee');
                var searchBar = document.getElementById('search-input');

                currentBtn.addEventListener('click', function () {

                    if (currentEnabled) {
                        $('#current .custom-card').each(function() {
                            
                            $(this).hide();
                            $(this).addClass("hidingCurrent");
                            
                        currentText.style.display = 'none';
                        });
                    } else {
                        $('#current .custom-card').each(function() {
                            
                            if ($(this).hasClass('hidingCurrent')) {
                                $(this).show();
                                $(this).removeClass("hidingCurrent");
                            }
                            
                            currentText.style.display = 'block';
                        });
                    }

                    currentEnabled = !currentEnabled;

                    filter();
                });

                upcomingbtn.addEventListener('click', function () {
                    if (upcomingEnabled) {
                        $('#upcoming .custom-card').each(function() {
                           
                            $(this).hide();
                            $(this).addClass("hidingUpcoming");
                            upcomingText.style.display = 'none';
                        });
                    } else {
                        $('#upcoming .custom-card').each(function() {
                            if ($(this).hasClass('hidingUpcoming')) {
                                $(this).show();
                                $(this).removeClass("hidingUpcoming");
                            }

                            upcomingText.style.display = 'block';

                        });
                    }

                    upcomingEnabled = !upcomingEnabled;

                    filter();
                    
                });

                const adjustSearchMessage = document.getElementById("adjustSearchMessage");
                adjustSearchMessage.style.display = "none";

                function filter() {

                    const toggleButtons = document.querySelectorAll(".toggle-button");
                    const currentCards = document.querySelectorAll(".custom-card.mx-auto.mx-3.left-align-card");
                    const upcomingCards = document.querySelectorAll(".custom-card.mx-auto.mx-3.left-align-card.upcoming");                

                    let activeButtonType;

                    toggleButtons.forEach(function (button) {
                        
                        if (button.classList.contains('active')) {

                            anyCardsMatch = false;

                            activeButtonType = button.getAttribute("data-type");

                            if (!currentEnabled && !upcomingEnabled) {
                                // Show/hide the message based on the flag
                                adjustSearchMessage.style.display = "block";
                            } else {
                                adjustSearchMessage.style.display = "none";
                            }
       
                            if (currentEnabled) {
                                currentCards.forEach(function (card) {
                                
                                    const cardType = card.getAttribute("data-type");
                                    const cardStatus = card.getAttribute("data-status");

                                    if (activeButtonType === "all" && global_status === "all") {
                                        card.style.display = "block";
                                        if (card.classList.contains('hiding')) {card.classList.remove('hiding')}
                                        anyCardsMatch = true;
                                    } else if (activeButtonType === "all" && cardStatus === global_status) {
                                        card.style.display = "block";
                                        if (card.classList.contains('hiding')) {card.classList.remove('hiding')}
                                        anyCardsMatch = true;  
                                    } else if (cardType === activeButtonType && global_status === "all") {
                                        card.style.display = "block";
                                        if (card.classList.contains('hiding')) {card.classList.remove('hiding')}
                                        anyCardsMatch = true;
                                    } else if (cardType === activeButtonType && cardStatus === global_status) {
                                        card.style.display = "block";
                                        if (card.classList.contains('hiding')) {card.classList.remove('hiding')}
                                        anyCardsMatch = true;
                                    } else {
                                        card.style.display = "none";
                                        card.classList.add('hiding')
                                    }
                                });
                            } else {
                                currentCards.forEach(function (card) {
                                    card.style.display = "none";
                                });
                            }

                            if (upcomingEnabled) {
                                upcomingCards.forEach(function (card) {
                                
                                    const cardType = card.getAttribute("data-type");
                                    const cardStatus = card.getAttribute("data-status");


                                    if (activeButtonType === "all" && global_status === "all") {
                                        card.style.display = "block";
                                        if (card.classList.contains('hiding')) {card.classList.remove('hiding')}
                                        anyCardsMatch = true;
                                    } else if (activeButtonType === "all" && cardStatus === global_status) {
                                        card.style.display = "block";
                                        if (card.classList.contains('hiding')) {card.classList.remove('hiding')}
                                        anyCardsMatch = true;
                                    } else if (cardType === activeButtonType && global_status === "all") {
                                        card.style.display = "block";
                                        if (card.classList.contains('hiding')) {card.classList.remove('hiding')}
                                        anyCardsMatch = true;
                                    } else if (cardType === activeButtonType && cardStatus === global_status) {
                                        card.style.display = "block";
                                        if (card.classList.contains('hiding')) {card.classList.remove('hiding')}
                                        anyCardsMatch = true;
                                    } else {
                                        card.style.display = "none";
                                        card.classList.add('hiding')
                                    }
                                });
                            } else {
                                upcomingCards.forEach(function (card) {
                                    card.style.display = "none";
                                });
                            }
                        }

                        const noResultsMessage = document.getElementById("noResultsMessage");
                        if (anyCardsMatch) {
                            noResultsMessage.style.display = "none";
                        } else {
                            noResultsMessage.style.display = "block";
                        }
                        
                        search();
                    }); 
                }

                document.addEventListener("DOMContentLoaded", function () {
                    const typeButtons = document.querySelectorAll(".toggle-button");
                    const statusDropdown = new bootstrap.Dropdown(document.getElementById("filterDropdown"));
                  

                    
                    let anyCardsMatch = false;

                    typeButtons.forEach(function (button) {
                        button.addEventListener("click", filter);
                    });

                    // Add click event listener to the status dropdown items
                    const statusItems = document.querySelectorAll(".dropdown-item[data-status]");
                    statusItems.forEach(function (item) {
                        item.addEventListener("click", function (event) {
                            event.preventDefault();
                            status = item.getAttribute("data-status");
                            global_status = status
                            filter();
                        });
                    });


                    // Initial filter when the page loads
                    filter();
                });

               
                // Function to filter cards based on the search input
                $('#search-input').on('input', search);

                function search() {
                    var searchText = searchBar.value.toLowerCase();
                    $('#all_cards .custom-card').each(function() {
                        if ($(this).hasClass('hiding') || $(this).hasClass('hidingUpcoming') || $(this).hasClass('hidingCurrent')) {
                            //skips
                        } else {
                            var cardName = $(this).data('name').toLowerCase();
                            if (cardName.includes(searchText)) {
                                $(this).show();
                            } else {
                                $(this).hide();
                                
                            }
                        }
                    });
                }
                
            </script>

       
        <!-- JS to handle login modal script -->
        <script>/*
            const loginButton = document.getElementById("loginButton");
            const loginModal = new bootstrap.Modal(document.getElementById("loginModal"));
            const loginModalBody = document.querySelector("#loginModal .modal-body");
            const experiencesLink = document.getElementById("experiencesLink");
            const bookingHistoryLink = document.getElementById("bookingHistoryLink");
            const loginMessage = document.getElementById("loginMessage");
            const ticketSelector = document.getElementById("ticketSelector");

            let isLoggedIn = false;

            loginButton.addEventListener("click", function () {

                // User is logged out
                if (isLoggedIn) {
                    loginModalBody.textContent = "It was great having you. See you next time.";
                    loginButton.textContent = "Login";

                    // Hide the Experiences link
                    experiencesLink.style.display = "none";

                    // Hide the Book History link
                    bookingHistoryLink.style.display = "none";

                    // Disable Book now button
                    bookNowBtn.disabled = true;

                    // Disable ticket selector
                    ticketSelector.disabled = true;

                } else {
                    // User is logged in
                    loginModalBody.textContent = "You're in! You can now create and book events.";
                    loginButton.textContent = "Logout";

                    // Show the Experiences link
                    experiencesLink.style.display = "block";

                    // Show the Book History link
                    bookingHistoryLink.style.display = "block";

                    // Enable the "Book Now" button
                    bookNowBtn.disabled = false;

                    // Enable ticket selector
                    ticketSelector.disabled = false;
                }

                // Toggle the login state
                isLoggedIn = !isLoggedIn;

                // Show the login modal
                loginModal.show();
            });*/
        </script>

        <!-- JS to handle card filtering -->





</main>

{% endblock %}